{% extends 'base.html' %}
{% block title %} Edit Customer{% endblock %} 

{% block content %}
<div class="container">
    <h2>Edit Customer Form</h2>
    <form action="" method="post">{% csrf_token %}
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" value={{data.customer.email}} required>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value="{{data.customer.name}}" required>
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number:</label>
        <input type="tel" class="form-control" id="phone_number" placeholder="Enter Phobe Number" name="phone_number" maxlength="10" minlength="10" value={{data.customer.phone_number}} required >
      </div>
      <div class="form-group">
        <label for="addr">Choose a Address:</label>
          {% if data.location|length != 0%}
            <select name="addr" id="addr">
              <option value={{data.customer.address.id}}>{{data.customer.address.door_no}},{{data.customer.address.address}},{{data.customer.address.city}},{{data.customer.address.state}}</option>
            {% for addr in data.location %}
             {% if addr.id != data.customer.address.id %}
              <option value={{addr.id}}>{{addr.door_no}},{{addr.address}},{{addr.city}},{{addr.state}}</option>
             {% endif %}
            {% endfor %}
            </select>
          {% else %}
            <a type="button" class="btn btn-danger" href="/location/Create">Create New Location</a>
          {% endif %}      
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
{% endblock  %}